.portfolio {
  padding: 110px 0;
  &-inner {
    margin-top: 60px;
    position: relative;
  }
  &__title {
    font-size: rem(40);
    @include font-robotoB;
    text-align: center;
    text-transform: uppercase;
  }
  &__item {
    &-imgBx {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  & .slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: absolute;
    z-index: 3;
    left: calc(50%); transform: translateX(-50%);
    bottom: -45px;
    li {
      margin-right: 34px;
      &:last-child {
        margin-right: 0;
      }
    }

    button {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 0;

      border: none;
      background-color: $--accent-color;
      opacity: 0.35;

      text-indent: -9999px;
    }

    li.slick-active button {
      background-color: $--accent-color;
      opacity: 1;
    }
  }
  @include media(600) {
    padding-top: 80px;
    padding-bottom: 80px;
    &__title {
      font-size: rem(30);
    }
    &-inner {
      margin-top: 20px;
    }
    &__item {
      &-imgBx {
        & img {
          width: 100%;
        }
      }
    }
    & .slick-dots {
      display: flex;
      justify-content: center;
      list-style-type: none;
      position: absolute;
      z-index: 3;
      left: calc(50%); transform: translateX(-50%);
      bottom: -35px;
      li {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }

      button {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        padding: 0;

        border: none;
        background-color: $--accent-color;
        opacity: 0.35;

        text-indent: -9999px;
      }

      li.slick-active button {
        background-color: $--accent-color;
        opacity: 1;
      }
    }
  }
}
.map {
  height: 479px;
  & div, & iframe {
    width: 100%;
    height: 100%;
  }
}
[class*="ymaps-2-1"][class*="-ground-pane"] {
  -webkit-filter: grayscale(100%);
}